<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887950910734-ga5ilon6brfi20go4nm866qq0u4c60mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887950910734-ga5ilon6brfi20go4nm866qq0u4c60mq</string>
	<key>API_KEY</key>
	<string>AIzaSyCIiZ0jkEiT7NfE3_VuXC14CFLBKG8U5q0</string>
	<key>GCM_SENDER_ID</key>
	<string>887950910734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ourapp.Lowkeyapp</string>
	<key>PROJECT_ID</key>
	<string>lowkey-706ed</string>
	<key>STORAGE_BUCKET</key>
	<string>lowkey-706ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887950910734:ios:95f6f0154ea8feb4cde35f</string>
</dict>
</plist>